.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 30px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.slick-container {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .main-container {
    margin-bottom: 35px;
  }
  .slick-container {
    width: 78%;
  }
}
